<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>16834261-BCDA-4ADF-830F-08F6350D0B59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C2BAFC4-1213-4B70-AC17-5C78FD026407</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EEA819F-BD5C-41CD-9770-48CB8203BF62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D0F6EFC-FD7C-4F38-8F21-6DC73CEDD7BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C2BAFC4-1213-4B70-AC17-5C78FD026407</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C247DEE5-EFD2-4803-9470-1EC62A56922A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F1FA71A-D8D5-45B5-865F-71BA861DCFAD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F30D35BE-EF3D-451A-A625-6AE792DAB586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD4536AE-159D-437C-8EA2-30671F73DC15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EEA819F-BD5C-41CD-9770-48CB8203BF62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF334289-E710-47EF-A84C-EF59FD369297</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16834261-BCDA-4ADF-830F-08F6350D0B59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>query tx hash, address on etherscan</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>etherscan</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C247DEE5-EFD2-4803-9470-1EC62A56922A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')
type=$(echo -n ${input} | awk '{ print $2}')


# echo "query: $query type: $type"

case ${type} in
    bsc)
        url="https://bscscan.com"
        ;;
    ropsten)
        url="https://ropsten.etherscan.io"
        ;;
    *)
        url="https://etherscan.io"
        ;;
esac



address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16834261-BCDA-4ADF-830F-08F6350D0B59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>eth</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF334289-E710-47EF-A84C-EF59FD369297</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bsc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address in bsc</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D0F6EFC-FD7C-4F38-8F21-6DC73CEDD7BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')


url="https://bscscan.com"

address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C2BAFC4-1213-4B70-AC17-5C78FD026407</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>1F1FA71A-D8D5-45B5-865F-71BA861DCFAD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>your input is not tx hash or address</string>
				<key>title</key>
				<string>Invalid input</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F30D35BE-EF3D-451A-A625-6AE792DAB586</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ropsten</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address in ropsten</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AD4536AE-159D-437C-8EA2-30671F73DC15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')


url="https://ropsten.etherscan.io"

address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1EEA819F-BD5C-41CD-9770-48CB8203BF62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16834261-BCDA-4ADF-830F-08F6350D0B59</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>1C2BAFC4-1213-4B70-AC17-5C78FD026407</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>1EEA819F-BD5C-41CD-9770-48CB8203BF62</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>4D0F6EFC-FD7C-4F38-8F21-6DC73CEDD7BB</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>AD4536AE-159D-437C-8EA2-30671F73DC15</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>C247DEE5-EFD2-4803-9470-1EC62A56922A</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>DF334289-E710-47EF-A84C-EF59FD369297</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F30D35BE-EF3D-451A-A625-6AE792DAB586</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
