<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>16834261-BCDA-4ADF-830F-08F6350D0B59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>190481FC-4A9F-4E4A-9372-52D120CD3343</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C2BAFC4-1213-4B70-AC17-5C78FD026407</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EEA819F-BD5C-41CD-9770-48CB8203BF62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4139D6EE-AF4B-48FE-A2AF-8DEF865612E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D0F6EFC-FD7C-4F38-8F21-6DC73CEDD7BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C2BAFC4-1213-4B70-AC17-5C78FD026407</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D6E9CAC-0ADD-46A8-8E78-F3852346F2C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91B73AFB-2976-44D5-AFD4-AE646A7F6E4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63E0AD2A-ECA0-40B3-A70C-07033A491B0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBA1F14F-19F9-4D23-867C-3FCF3190AD74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>798DD460-023A-4CCE-9587-C7DEB2392BB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4139D6EE-AF4B-48FE-A2AF-8DEF865612E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C247DEE5-EFD2-4803-9470-1EC62A56922A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F1FA71A-D8D5-45B5-865F-71BA861DCFAD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F30D35BE-EF3D-451A-A625-6AE792DAB586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91B73AFB-2976-44D5-AFD4-AE646A7F6E4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B0E005C-E92C-413C-B8F9-43A652480815</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>190481FC-4A9F-4E4A-9372-52D120CD3343</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD4536AE-159D-437C-8EA2-30671F73DC15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EEA819F-BD5C-41CD-9770-48CB8203BF62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBA1F14F-19F9-4D23-867C-3FCF3190AD74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF334289-E710-47EF-A84C-EF59FD369297</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16834261-BCDA-4ADF-830F-08F6350D0B59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>sunliang711</string>
	<key>description</key>
	<string>query tx hash, address on etherscan</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>etherscan</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>eth</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF334289-E710-47EF-A84C-EF59FD369297</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')
type=$(echo -n ${input} | awk '{ print $2}')


# echo "query: $query type: $type"

case ${type} in
    bsc)
        url="https://bscscan.com"
        ;;
    ropsten)
        url="https://ropsten.etherscan.io"
        ;;
    *)
        url="https://etherscan.io"
        ;;
esac



address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16834261-BCDA-4ADF-830F-08F6350D0B59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C247DEE5-EFD2-4803-9470-1EC62A56922A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bsc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address in bsc</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D0F6EFC-FD7C-4F38-8F21-6DC73CEDD7BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')


url="https://bscscan.com"

address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C2BAFC4-1213-4B70-AC17-5C78FD026407</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>1F1FA71A-D8D5-45B5-865F-71BA861DCFAD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')


url="https://ropsten.etherscan.io"

address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1EEA819F-BD5C-41CD-9770-48CB8203BF62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ropsten</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address in ropsten</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AD4536AE-159D-437C-8EA2-30671F73DC15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>your input is not tx hash or address</string>
				<key>title</key>
				<string>Invalid input</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F30D35BE-EF3D-451A-A625-6AE792DAB586</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')


url="https://goerli.etherscan.io"

address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBA1F14F-19F9-4D23-867C-3FCF3190AD74</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>goerli</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address in goerli</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63E0AD2A-ECA0-40B3-A70C-07033A491B0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')


url="https://optimistic.etherscan.io"

address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91B73AFB-2976-44D5-AFD4-AE646A7F6E4C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>optimistic</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address in optimistic</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5D6E9CAC-0ADD-46A8-8E78-F3852346F2C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>arbitrum</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address in arbitrum</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B0E005C-E92C-413C-B8F9-43A652480815</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')


url="https://arbiscan.io"

address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>190481FC-4A9F-4E4A-9372-52D120CD3343</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input=$1

query=$(echo -n ${input} | awk '{ print $1}')


url="https://polygonscan.com"

address="/address"
tx="/tx"


#trim
query=$(echo "$query" | perl -pe 's/^\s*(\S+)\s*$/${1}/')


# IF address format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{40}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${address}/$query"

# IF hash format
echo -n "${query}"| perl -ne '/^(0x|0X)[a-fA-F0-9]{64}$/ &amp;&amp; exit 0 || exit 1' &amp;&amp; echo -n "${url}${tx}/$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4139D6EE-AF4B-48FE-A2AF-8DEF865612E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>polygon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>query tx by hash or query address in polygon</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>798DD460-023A-4CCE-9587-C7DEB2392BB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16834261-BCDA-4ADF-830F-08F6350D0B59</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>190481FC-4A9F-4E4A-9372-52D120CD3343</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>1C2BAFC4-1213-4B70-AC17-5C78FD026407</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>1EEA819F-BD5C-41CD-9770-48CB8203BF62</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>4139D6EE-AF4B-48FE-A2AF-8DEF865612E8</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>4D0F6EFC-FD7C-4F38-8F21-6DC73CEDD7BB</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>5D6E9CAC-0ADD-46A8-8E78-F3852346F2C5</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>63E0AD2A-ECA0-40B3-A70C-07033A491B0D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>798DD460-023A-4CCE-9587-C7DEB2392BB1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>8D42EA91-B4F5-49D6-BEA0-3690948A6CB7</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>91B73AFB-2976-44D5-AFD4-AE646A7F6E4C</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>9B0E005C-E92C-413C-B8F9-43A652480815</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>AD4536AE-159D-437C-8EA2-30671F73DC15</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>C247DEE5-EFD2-4803-9470-1EC62A56922A</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>CBA1F14F-19F9-4D23-867C-3FCF3190AD74</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>DF334289-E710-47EF-A84C-EF59FD369297</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>F30D35BE-EF3D-451A-A625-6AE792DAB586</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
